<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.usi.se.group3.emergency_android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".emergency_select" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

            </intent-filter>
        </activity>
        <activity android:name=".freelancer_list" >
        </activity>

        <service android:name=".background"
            android:exported="false"/>
    </application>

</manifest>